/*
 * General
 */
a.toplevel_page_query-wrangler {
    letter-spacing: -1px;
}
.ui-dialog .ui-dialog-titlebar-close span {
    margin: -8px 0 0 -8px;
}
.ui-front.ui-dialog {
    overflow: visible;
}
.ui-front.ui-autocomplete {
    z-index: 999999;
}

/*
 * Pages
 */
#qw-create {
    width: 63%;
    min-width: 460px;
    float: left;
    margin-right: 3%;
}
#qw-create label,
#qw-import label {
    font-weight: bold;
    font-size: 1.2em;
}
#qw-create-sidebar {
    width: 33%;
    float: left;
}
#export-query {
	width: 94%;
	height: 600px;
	font-family: monospace;
}
#import-query {
	width: 94%;
	height: 300px;
	font-family: monospace;
	display: block;
}

/*
 * Preview
 */
#query-preview {
    border: 1px solid #bbb;
    background: #fff;
    padding: 3px;
}
#preview-title {
    margin: 0;
    padding: 0 12px;
    background-color: #efefef;
    font-size: 1.1em;
    line-height: 2.8em;
}
#preview-title small {
    display: block;
    font-style: italic;
    color: #444;
}
#query-preview-controls {
	float: right;
	line-height: 28px;
    padding: 6px 0;
	margin-right: 20px;
}
#query-preview-target {
	padding: 4px 8px;
}
#preview-query {
    padding: 16px 0;
    margin: 12px 0 16px;
    border-top: 1px dashed #aaa;
    border-bottom: 1px dashed #aaa;
}
#query-details pre {
    background: #eee;
    padding: 6px 12px;
    border: 1px solid #aaa;
}
#query-details .ui-accordion-header-active {
    background: #bbccff;
}
.query-preview-inactive {
	background: transparent url('../images/loading.gif') -40px center no-repeat;
}
.query-preview-active {
	padding-left: 40px;
	background: transparent url('../images/loading.gif') left center no-repeat;
}

/*
 * Form helpers
 */
#qw-query-action-buttons {
    float: right;
}
#query-actions {
    text-align: right;
}
#qw-edit-query-form textarea {
    font-family: monospace;
}
.qw-field-wrapper {
    padding: 8px 0;
}
textarea.qw-meta-value {
    width: 500px;
    height: 120px;
}
.qw-field-textarea {
    width: 60%;
    height: 180px;
}
.qw-text-long {
    width: 60%;
}
.qw-text-short {
    width: 48px;
}
.qw-weight-container,
.qw-hidden {
    display: none;
}
.qw-remove {
	float: right;
	margin-left: 12px;
}
